* {
    margin: 0;
    padding: 0;
}
html, body, .niche {
    width: 100%;
}
a {
    text-decoration: none;
    color: #b6b8ba;
}
.niche {
    position: relative;
    height: 1186px;
    background: url(../img/niche-bgr.png);
    display: flex;
    justify-content: end;
}
.alex {
    position: absolute;
    top: 108px;
    right: 163px;
}
.nav {
    display: flex;
    flex-direction: column;
    margin: 270px 60px 0 0;
}
/* .vertical-line {
    width: 130px;
    border-top: 1px solid #ffffff;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin-right: 50px;
} */
.nav>div {
    display: flex;
    align-items: center;
    margin: 5px 0;
    justify-content: end;
}
.link-active {
    color: #f1f1f1;
    font-weight: bold;
}
.dot {
    border: 1px solid #f1f1f1;
    margin-left: 10px;
}
.dot-active {
    border: 2px solid #f1f1f1;
}