* {
    margin: 0;
    padding: 0;
}
html, body, #niche {
    width: 100%;
}
a {
    text-decoration: none;
    color: #868686;
}
#niche {
    position: relative;
    height: 1186px;
    background: url(../img/niche-bgr.png);
}
.alex {
    position: absolute;
    top: 6.75em;
    right: 10.2em;
}
.title-and-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 550px;
}
.prog {
    font-family: 'Montserrat-Regular';
    font-size: 1.5em;
    color: #ff0000;
    margin-bottom: -55px;
}
.niche-title {
    font-family: 'Oswald-Medium';
    font-size: 11.25em;
    background: linear-gradient(to right, #ffffff, #444444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.choose-model {
    font-family: 'Montserrat-Medium';
    font-size: 1.7em;
    color: #ffffff;
}
#to-get {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    width: 450px;
    height: 374px;
    background: #313131;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
input {
    width: 330px;
    cursor: pointer;
    border: none;
    background: #0a0a0a;
    margin-bottom: 0.9em;
}
input[type='text'] {
    padding: 1.2em 1.7em;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
}
input::placeholder {
    color: #868686;
}
input[type="button"] {
    color: #ffffff;
}







.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13.1em;
    right: 3.75em;
    text-align: right;
}
.nav li {
    font-family: 'Montserrat-Light';
    list-style: none;
    line-height: 1.9em;
}
.nav li a {
    position: relative;
    padding-right: 1.3em;
}
.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: .1em solid #ffffff;
}
.list-active {
    font-family: 'Montserrat-Bold';
    color: #ffffff;
}
.nav a.list-active::after {
    border: .2em solid #ffffff;
}
