* {
    margin: 0;
    padding: 0;
}
html, body, #niche {
    width: 100%;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #868686;
}
#niche {
    position: relative;
    height: 1186px;
    background: url(../img/niche-bgr.png);
    background-position: center center;
}
.alex {
    position: absolute;
    top: 6.75em;
    right: 10.2em;
}
.title-and-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 8.69em;
    left: 14.93em;
}
.prog {
    font-family: 'Montserrat-Regular';
    font-size: 1.5em;
    color: #ff0000;
    margin-bottom: -50px;
}
.niche-title {
    font-family: 'Oswald-Medium';
    font-size: 11.25em;
    background: linear-gradient(to right, #ffffff, #444444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.choose-model {
    font-family: 'Montserrat-Medium';
    font-size: 1.75em;
    color: #ffffff;
}
.prog, .niche-title, .choose-model, .to-get {
    z-index: 1;
}



/*----------------------------- Форма -----------------------------*/
.to-get {
    width: 24em;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    padding: 2em 2em 1.25em 2em;
    background: #313131;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
#form {
    width: inherit;
    display: flex;
    flex-direction: column;
}
input {
    cursor: pointer;
    border: none;
}
input[type='text'] {
    padding: 1.188em 3.563em;
    color: #ffffff;
    background: #0a0a0a;
    margin-bottom: 15px;
    border-radius: .7em;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    -ms-border-radius: .7em;
    -o-border-radius: .7em;
}
input[name='tel'] {
    margin-bottom: 1.625em;
}
input::placeholder {
    font-size: 1em;
    color: #868686;
}
input[name="name"] {
    background-image: url(../img/user_male.svg);
}
input[name="email"] {
    background-image: url(../img/message.svg);
}
input[name="tel"] {
    background-image: url(../img/phone1.svg);
}
input[name="name"], input[name="email"], input[name="tel"] {
    background-repeat: no-repeat;
    background-size: 0.813em;
    background-position: 1.563em center;
}
input[type="submit"], #niche .btn {
    background-image: -webkit-linear-gradient(90deg, #a00200 0%, red 100%);
    background-image: -moz-linear-gradient(90deg, #a00200 0%, red 100%);
    background-image: -ms-linear-gradient(90deg, #a00200 0%, red 100%);
    box-shadow: 0 .2em 0 0 #810000;
    color: #ffffff;
}
input[type="submit"] {
    width: 100%;
    padding: 1.5em 2.6em;
    font-family: 'Montserrat-SemiBold';
    font-size: 1.125em;
    border-radius: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    -ms-border-radius: 2.5em;
    -o-border-radius: 2.5em;
}
input[type="submit"]:hover {
    box-shadow: 0 0 1em #ff0000;
}
.only-this-week {
    font-family: 'Montserrat-Light';
    font-size: .75em;
    line-height: 3.75em;
    text-align: center;
    margin-top: 1.188em;
    color: #868686;
}
/*----------------------------- КОНЕЦ Формы -----------------------------*/
.btn, .arrow {
    position: absolute;
    left: 50%;
}
.btn {
    width: 12em;
    display: flex;
    flex-direction: row;
    background: #ff0000;
    padding: 0.688em 0.813em;
    border: none;
    border-radius: 1.7em;
    -webkit-border-radius: 1.7em;
    -moz-border-radius: 1.7em;
    -ms-border-radius: 1.7em;
    -o-border-radius: 1.7em;
    bottom: 22em;
    margin-left: -6em;
    z-index: 9;
}
.btn img {
    width: 2.313em;
    height: 2.313em;
}
.btn p {
    width: 9em;
    font-family: 'Montserrat-Medium';
    font-size: 0.875em;
    margin-left: 1em;
    text-align: left;
}
.arrow {
    width: 0.938em;
    height: 1.188em;
    bottom: 17em;
    margin-left: -0.469em;
}
/*----------------------------- Навигация -----------------------------*/
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 13.1em;
    right: 3.75em;
    text-align: right;
}
.nav li {
    font-family: 'Montserrat-Light';
    list-style: none;
    line-height: 1.9em;
}
.nav li a {
    position: relative;
    padding-right: 1.3em;
}
.nav li a:hover {
    text-decoration: underline;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: .1em solid #ffffff;
}
.list-active {
    font-family: 'Montserrat-Bold';
    color: #ffffff;
}
.nav a.list-active::after {
    border: .15em solid #ffffff;
}
/*----------------------------- КОНЕЦ Навигации -----------------------------*/
